<% hidden_klass = question.hidden ? "question-hidden" : "question-visible"%>
  <%= content_tag :div, class: ["mb-sm", hidden_klass] do %>
  <%= simple_format h(question.body) %>
<%end%>

<% if question.answer.present?%>
  <div class="mb-sm text-dark-red">
    <p><%= question.answer%></p>
  </div>
<%end%>

  <% if question.author %>
    <p class="text-blue">Вопрос от: <%= link_to display_nickname(question.author), user_path(question.author_id)%></p>
  <% else %>
    <p class="text-blue">Вопрос от анонима</p>
  <% end %>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short) %>
  </div>

  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present?) ? 'pencil' : 'reply'%>

      <%= link_to fa_icon(edit_icon), edit_question_path(question),
      title: 'Изменить вопрос', class:  'mr-sm' %>
      <%= button_to fa_icon('trash-o'), question_path(question),
      method: :delete, title: 'Удалить вопрос' %>
        <% unless question.hidden %>
      <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put, title: 'Скрыть вопрос'%>
    <% end %>
    </div>
  <%end%>
</div>
